<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="KG88 - Nhà cái uy tín với nhiều tựa game Nổ hũ cực hấp dẫn. Link vào KG88 chính thức của nhà cái hiện nay. Nhận ngay 55k tiền thưởng hoàn toàn miễn phí khi đăng ký"
    />
    <meta
      name="keywords"
      content="KG88 sân chơi cá cược hàng đầu tại Việt Nam : đĩa,Nổ hũ,Thể thao,Tài xỉu, Bắn cá,Xổ số,Đá gà,Xóc"
    />
    <!-- icon -->
    <link rel="icon" href="../src/icon.png" />
    <!-- style -->
    <link rel="stylesheet" href="../style/style.css" />
    <!-- link swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- script ionicons -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <!-- script tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>KG88 - Nhà Cái Uy Tín Chất Lượng Hàng Đầu Hiện Nay</title>
  </head>
  <body>
    <!-- header -->
    <div id="head"></div>
    <!-- end of header -->

    <!-- hero left rigth -->
    <section>
      <div class="max-w-[1080px] m-auto py-8 px-4">
        <div class="flex md:flex-row flex-col gap-2">
          <!-- left -->
          <div class="md:w-[75%] w-[100%] md:pr-2">
            <article class="border-b border-gray-500">
              <p class="text-[12px] text-red-600 text-center font-semibold">
                HƯỚNG DẪN KG88
              </p>
              <h2 class="h2 text-center pb-4">
                Đăng Ký KG88 – Hướng Dẫn Các Bước Thực Hiện Chi Tiết
              </h2>
              <p class="text-[12px] text-red-600 text-center font-semibold">
                POSTED ON THÁNG SÁU 27, 2024 BY ADMINKG88
              </p>
              <div class="w-full py-4">
                <img src="../src/33.jpg" alt="" />
              </div>
              <p class="p">
                Đăng ký KG88 là bước không thể thiết để bắt đầu cuộc hành trình
                cá cược của mọi người. Đây chính là cánh cửa mở ra một thế giới
                trò chơi trực tuyến đầy sôi động và hấp dẫn. Theo dõi ngay bài
                viết dưới đây để nắm bắt chi tiết các bước thực hiện đăng ký tài
                khoản nhé.
              </p>
              <div class="flex justify-center m-auto pt-2 pb-8">
                <a
                  href="../components/hu1.html"
                  class="border-[2px] border-blue-700 py-1 px-4 text-[14px] text-blue-900 font-medium hover:bg-blue-700 hover:text-white"
                  >CONTINUE READING →</a
                >
              </div>
            </article>
            <article class="border-b border-gray-500 pt-8">
              <p class="text-[12px] text-red-600 text-center font-semibold">
                HƯỚNG DẪN KG88
              </p>
              <h2 class="h2 text-center pb-4">
                Hướng Dẫn Cách Chơi Bạch Thủ Lô Hốt Bạc Cho Game Thủ
              </h2>
              <p class="text-[12px] text-red-600 text-center font-semibold">
                POSTED ON THÁNG SÁU 24, 2024 BY ADMINKG88
              </p>
              <div class="w-full py-4">
                <img src="../src/34.jpg" alt="" />
              </div>
              <p class="p">
                Đăng nhập KG88 có quy trình thực hiện đơn giản, giao diện dễ sử
                dụng và thân thiện. Người chơi sẽ được bước vào thế giới giải
                trí cùng cơ hội đổi thưởng đầy hấp dẫn. Dưới đây là hướng dẫn
                các bước đăng nhập cơ bản cho tân thủ mới bắt đầu tham gia chơi
                tại KG88.
              </p>
              <div class="flex justify-center m-auto pt-2 pb-8">
                <a
                  href="../components/hu2.html"
                  class="border-[2px] border-blue-700 py-1 px-4 text-[14px] text-blue-900 font-medium hover:bg-blue-700 hover:text-white"
                  >CONTINUE READING →</a
                >
              </div>
            </article>
            <article class="border-b border-gray-500 pt-8">
              <p class="text-[12px] text-red-600 text-center font-semibold">
                HƯỚNG DẪN KG88
              </p>
              <h2 class="h2 text-center pb-4">
                Link vào KG88 – Cách Chọn Đường Dẫn Vào Nhà Cái An Toàn
              </h2>
              <p class="text-[12px] text-red-600 text-center font-semibold">
                POSTED ON THÁNG SÁU 2, 2024 BY ADMINKG88
              </p>
              <div class="w-full py-4">
                <img src="../src/35.jpg" alt="" />
              </div>
              <p class="p">
                Link vào KG88 là từ khóa có lượt tìm kiếm rất nhiều trên khắp
                các trang thông tin hiện nay. Việc truy cập đúng link để tham
                gia chơi thuận tiện đang trở thành điểm khó khăn với nhiều game
                thủ. Cùng KG88 tìm hiểu chi tiết thông tin và cách nhận viết
                đường link dẫn vào sân chơi uy tín nhé.
              </p>
              <div class="flex justify-center m-auto pt-2 pb-8">
                <a
                  href="../components/hu3.html"
                  class="border-[2px] border-blue-700 py-1 px-4 text-[14px] text-blue-900 font-medium hover:bg-blue-700 hover:text-white"
                  >CONTINUE READING →</a
                >
              </div>
            </article>
            <article class="border-b border-gray-500 pt-8">
              <p class="text-[12px] text-red-600 text-center font-semibold">
                HƯỚNG DẪN KG88
              </p>
              <h2 class="h2 text-center pb-4">
                Rút Tiền KG88 – Chi Tiết Các Bước Thực Hiện Đơn Giản
              </h2>
              <p class="text-[12px] text-red-600 text-center font-semibold">
                POSTED ON THÁNG SÁU 17, 2024 BY ADMINKG88
              </p>
              <div class="w-full py-4">
                <img src="../src/36.jpg" alt="" />
              </div>
              <p class="p">
                Rút tiền KG88 được nhà cái thiết kế quy trình thực hiện đơn giản
                và nhanh chóng cho thành viên. Mọi người có thể thực hiện thao
                tác rút tiền nhanh gọn để nhận được khoản thưởng về tài khoản
                trong vài phút. Theo dõi bài viết dưới đây cùng KG88 để nắm bắt
                chi tiết cách rút tiền thưởng liền tay nhé.
              </p>
              <div class="flex justify-center m-auto pt-2 pb-8">
                <a
                  href="../components/hu4.html"
                  class="border-[2px] border-blue-700 py-1 px-4 text-[14px] text-blue-900 font-medium hover:bg-blue-700 hover:text-white"
                  >CONTINUE READING →</a
                >
              </div>
            </article>
            <article class="border-b border-gray-500 pt-8">
              <p class="text-[12px] text-red-600 text-center font-semibold">
                HƯỚNG DẪN KG88
              </p>
              <h2 class="h2 text-center pb-4">
                Nạp Tiền KG88 – Hướng Dẫn Chi Tiết Các Bước Thực Hiện
              </h2>
              <p class="text-[12px] text-red-600 text-center font-semibold">
                POSTED ON THÁNG SÁU 12, 2024 BY ADMINKG88
              </p>
              <div class="w-full py-4">
                <img src="../src/38.jpg" alt="" />
              </div>
              <p class="p">
                Nạp tiền KG88 là điều rất quan trọng để anh em có thêm nguồn vốn
                tham gia cá cược trực tuyến tại nhà cái. Cách nạp tiền tại KG88
                được thiết kế đơn giản và hiệu quả nên dù là tân thủ mới tham
                gia cũng có thể thực hiện được. Cùng chúng tôi tìm hiểu chi tiết
                các bước thực hiện nạp tiền nhanh chóng nhé.
              </p>
              <div class="flex justify-center m-auto pt-2 pb-8">
                <a
                  href="../components/cas5.html"
                  class="border-[2px] border-blue-700 py-1 px-4 text-[14px] text-blue-900 font-medium hover:bg-blue-700 hover:text-white"
                  >CONTINUE READING →</a
                >
              </div>
            </article>
            <article class="pt-8">
              <p class="text-[12px] text-red-600 text-center font-semibold">
                HƯỚNG DẪN KG88
              </p>
              <h2 class="h2 text-center pb-4">
                Đại lý KG88 – Cơ Hội Kiếm Thưởng Hoa Hồng Cực Khủng
              </h2>
              <p class="text-[12px] text-red-600 text-center font-semibold">
                POSTED ON THÁNG SÁU 12, 2024 BY ADMINKG88
              </p>
              <div class="w-full py-4">
                <img src="../src/39.jpg" alt="" />
              </div>
              <p class="p">
                Đại lý KG88 được đánh giá là kênh tiềm năng cho khách hàng, giúp
                người chơi có thêm thu nhập và mở rộng thương hiệu đến với nhiều
                anh em bet thủ hơn. Vậy lợi ích nhận được khi tham gia chương
                trình đại lý là gì và cách thức đăng ký ra sao, cùng KG88 tìm
                hiểu chi tiết qua bài viết dưới đây nhé.
              </p>
              <div class="flex justify-center m-auto pt-2 pb-12">
                <a
                  href="../components/hu6.html"
                  class="border-[2px] border-blue-700 py-1 px-4 text-[14px] text-blue-900 font-medium hover:bg-blue-700 hover:text-white"
                  >CONTINUE READING →</a
                >
              </div>
            </article>
          </div>
          <!-- rigth -->
          <div class="md:w-[25%] w-[100%] md:border-l border-gray-600 md:pl-4">
            <h3 class="h3">BÀI VIẾT MỚI</h3>
            <div class="flex flex-col pt-8">
              <article class="flex gap-2 border-b border-gray-300 pb-2">
                <div class="md:w-[150px] w-[70px]">
                  <img src="../src/r1.jfif" alt="" class="w-full" />
                </div>
                <a
                  href="../components/rigth1.html"
                  class="text-red-700 hover:text-gray-900 text-[15px]"
                  >Hướng Dẫn Cách Nuôi Dàn Đề 64 Số Dành Cho Tân Binh Mới</a
                >
              </article>
              <article class="flex gap-2 border-b border-gray-300 py-2">
                <div class="md:w-[150px] w-[70px]">
                  <img src="../src/r2.jfif" alt="" class="w-full" />
                </div>
                <a
                  href="../components/rigth2.html"
                  class="text-red-700 hover:text-gray-900 text-[15px]"
                >
                  Bật Mí Mẹo Chơi Bát Châu Báu Chắc Thắng Rinh Thưởng Khủng</a
                >
              </article>
              <article class="flex gap-2 border-b border-gray-300 py-2">
                <div class="md:w-[150px] w-[70px]">
                  <img src="../src/r3.jfif" alt="" class="w-full" />
                </div>
                <a
                  href="../components/rigth3.html"
                  class="text-red-700 hover:text-gray-900 text-[15px]"
                >
                  Hé Lộ Mẹo Chơi Xúc Xắc Màu May Mắn Hiệu Quả Nhất 2024</a
                >
              </article>
              <article class="flex gap-2 border-b border-gray-300 py-2">
                <div
                  class="md:w-[150px] w-[70px] hover:text-gray-900 text-[15px]"
                >
                  <img src="../src/r4.png" alt="" class="w-full" />
                </div>
                <a
                  href="../components/rigth4.html"
                  class="text-red-700 hover:text-gray-900 text-[15px]"
                >
                  Tổng hợp mẹo chơi Baccarat hiệu quả rinh thưởng khủng 2024</a
                >
              </article>
              <article class="flex gap-2 border-b border-gray-300 py-2">
                <div
                  class="md:w-[150px] w-[70px] hover:text-gray-900 text-[15px]"
                >
                  <img src="../src/r5.jfif" alt="" class="w-full" />
                </div>
                <a
                  href="../components/rigth5.html"
                  class="text-red-700 hover:text-gray-900 text-[15px]"
                >
                  Mẹo Chơi Siêu Bò Tót B – Game Nổ Hũ Đình Đám 2024</a
                >
              </article>
              <article class="flex gap-2 border-b border-gray-300 py-2">
                <div
                  class="md:w-[150px] w-[70px] hover:text-gray-900 text-[15px]"
                >
                  <img src="../src/r6.jfif" alt="" class="w-full" />
                </div>
                <a
                  href="../components/rigth6.html"
                  class="text-red-700 hover:text-gray-900 text-[15px]"
                >
                  Kèo Châu Á Là Gì? Kinh Nghiệm Vào Kèo Cho Mọi Người
                </a>
              </article>
              <article class="flex gap-2 border-b border-gray-300 py-2">
                <div
                  class="md:w-[150px] w-[70px] hover:text-gray-900 text-[15px]"
                >
                  <img src="../src/r7.jfif" alt="" class="w-full" />
                </div>
                <a
                  href="../components/rigth7.html"
                  class="text-red-700 hover:text-gray-900 text-[15px]"
                >
                  Mẹo Chơi Cá Cược Thể Thao Lụm Tiền Thưởng Khủng</a
                >
              </article>
              <article class="flex gap-2 border-b border-gray-300 py-2">
                <div
                  class="md:w-[150px] w-[70px] hover:text-gray-900 text-[15px]"
                >
                  <img src="../src/r8.jfif" alt="" class="w-full" />
                </div>
                <a
                  href="../components/rigth8.html"
                  class="text-red-700 hover:text-gray-900 text-[15px]"
                  >Hướng Dẫn Cách Chơi Bạch Thủ Lô Hốt Bạc Cho Game Thủ</a
                >
              </article>
              <article class="flex gap-2 border-b border-gray-300 py-2">
                <div class="md:w-[150px] w-[70px]">
                  <img src="../src/r9.jfif" alt="" class="w-full" />
                </div>
                <a
                  href="../components/rigth9.html"
                  class="text-red-700 hover:text-gray-900 text-[15px]"
                >
                  Bạch Thủ Lô Là Gì? Kinh Nghiệm Đánh Chuẩn Xác Nhất</a
                >
              </article>
              <article class="flex gap-2 border-b border-gray-300 py-2">
                <div class="md:w-[150px] w-[70px]">
                  <img src="../src/r10.jfif" alt="" class="w-full" />
                </div>
                <a
                  href="../components/rigth10.html"
                  class="text-red-700 hover:text-gray-900 text-[15px]"
                  >Hướng Dẫn Cách Lên Dàn Đề 64 Số Hiệu Quả Thắng Lớn</a
                >
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of hero left rigth -->

    <!-- footer -->
    <div id="footer"></div>
    <!-- end of footer -->

    <!-- script swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- script -->
    <script src="../js/app.js"></script>
  </body>
</html>
