<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="KG88 - Nhà cái uy tín với nhiều tựa game Nổ hũ cực hấp dẫn. Link vào KG88 chính thức của nhà cái hiện nay. Nhận ngay 55k tiền thưởng hoàn toàn miễn phí khi đăng ký"
    />
    <meta
      name="keywords"
      content="KG88 sân chơi cá cược hàng đầu tại Việt Nam : đĩa,Nổ hũ,Thể thao,Tài xỉu, Bắn cá,Xổ số,Đá gà,Xóc"
    />
    <!-- icon -->
    <link rel="icon" href="../src/icon.png" />
    <!-- style -->
    <link rel="stylesheet" href="../style/style.css" />
    <!-- link swiper -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- script ionicons -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <!-- script tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>KG88 - Nhà Cái Uy Tín Chất Lượng Hàng Đầu Hiện Nay</title>
  </head>
  <body>
    <!-- header -->
    <div id="head"></div>
    <!-- end of header -->

    <!-- hero -->
    <section>
      <div class="max-w-[1080px] m-auto py-8 px-4">
        <h1 class="h1 py-1 text-center">
          Quyền Riêng Tư – Đảm Bảo An Toàn Thông Tin Thành Viên
        </h1>
        <p class="p">
          Quyền riêng tư là thông tin quan trọng mà bất kỳ thành viên nào tại
          nhà cái KG88 cũng cần phải quan tâm. Người chơi nào cũng muốn tìm được
          một trang web giải trí tôn trọng và bảo vệ quyền lợi riêng tư này.
          Theo dõi bài viết dưới đây cùng KG88 để hiểu được việc nhà cái sử dụng
          thông tin người chơi như thế nào nhé.
        </p>
        <h2 class="h2 py-1">Các thông tin KG88 được phép thu thập</h2>
        <p class="p">
          Cổng game luôn tôn trọng quyền riêng tư của khách hàng nên sẽ luôn cố
          gắng bảo vệ an toàn tất cả những thông tin. Kg88 được phép thu thập
          đầy đủ những thông tin của khách hàng như họ tên, số điện thoại, số
          tài khoản ngân hàng, email, lịch sử truy cập vào trang Web, lịch sử sử
          dụng sản phẩm và giao dịch thanh toán. Toàn bộ những thông tin này sẽ
          được hệ thống bảo mật một cách an toàn, không để lộ cho bất kỳ bên thứ
          ba hay bất kỳ một đơn vị nào.
        </p>
        <div class="flex flex-col justify-center m-auto py-4 md:max-w-[80%]">
          <img src="../src/126.jpg" alt="" class="w-full" />
          <i class="text-center text-[14px] pt-1 text-gray-600">
            Nhà cái KG88 luôn tôn trọng quyền riêng tư của khách hàng
          </i>
        </div>
        <h3 class="h3 py-1">Sử dụng thông tin của thành viên tại cổng game</h3>
        <p class="p">
          Khi người chơi cung cấp thông tin, KG88 sẽ có trách nhiệm bảo vệ quyền
          riêng tư toàn bộ những dữ liệu đó. Bên cạnh đó, việc sử dụng các thông
          tin mà thành viên cùng cấp vào các trường hợp sau:
        </p>
        <ul class="list-disc space-y-4 pl-5 py-4">
          <li>
            Dùng thông tin cung cấp để có thể trả lời tất cả những yêu cầu của
            khách hàng.
          </li>
          <li>
            Thu thập và sử dụng thông tin nhằm cải thiện chất lượng dịch vụ cũng
            như sản phẩm của cổng game.
          </li>
          <li>
            Nâng cấp thông tin của khách hàng qua những phương tiện truyền thông
            khác nhau.
          </li>
          <li>
            ựa vào những dữ liệu mà người chơi cung cấp để đưa ra những phương
            án phù hợp cho các chương trình ưu đãi tại cổng game.
          </li>
          <li>
            Thông tin mà người chơi cung cấp sẽ phục vụ việc xác minh và xác
            thực tài khoản.
          </li>
        </ul>
        <div class="flex flex-col justify-center m-auto py-4 md:max-w-[80%]">
          <img src="../src/127.jpg" alt="" class="w-full" />
          <i class="text-center text-[14px] pt-1 text-gray-600">
            KG88 sẽ có trách nhiệm bảo vệ quyền riêng tư toàn bộ những dữ liệu
            người chơi
          </i>
        </div>
        <h2 class="h2 py-1">
          Cách KG88 bảo mật quyền riêng tư thông tin người chơi
        </h2>
        <p class="p">
          Anh em khi lựa chọn việc trải nghiệm dịch vụ giải trí tại KG88 hoàn
          toàn có thể yên tâm về chất lượng dịch vụ cũng như sản phẩm. Toàn bộ
          những thông tin mà người chơi cung cấp sẽ được bảo mật bằng hệ thống
          phần mềm hiện đại tối tân. Tất cả những giao dịch dữ liệu và lịch sử
          hoạt động đều sẽ được mã hóa nhiều lớp để ngăn chặn tối đa việc bị xâm
          nhập từ những đối tượng xấu.
        </p>
        <p class="p">
          Bài viết trên đã cung cấp đầy đủ đến người đọc những thông tin chi
          tiết về chính sách bảo vệ quyền riêng tư của người chơi tại KG88. Hy
          vọng những kiến thức mà chúng tôi chia sẻ ở trên sẽ giúp ích cho người
          chơi trong quá trình lựa chọn và tìm hiểu tham gia giải trí ở nhà cái
          KG88.
        </p>
      </div>
    </section>
    <!-- end of hero -->

    <!-- footer -->
    <div id="footer"></div>
    <!-- end of footer -->

    <!-- script swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- script -->
    <script src="../js/app.js"></script>
  </body>
</html>
